.App{
  background-color: #fafafa;
  height: 100vh;

}
.App__header{
  position: sticky;
  top:0;
  object-fit: contain;
  background-color:white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}


.App__signup{
  display: flex;
  flex-direction: column;
  
}
.App__headerImage{
  object-fit: contain;
}
.App__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.App_postsRight{
  margin-left: 20px;
}